.App {
  text-align: center;
}
.cart {
  position: relative;
}
.cart > div {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: deeppink;
  color: #fff;
  width: 20px;
  border-radius: 10px;
  font-weight: bold;
}

.categories {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 20%;
}

.categories > p {
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}
.categories > p:hover {
  border: none;
  box-shadow: 0px 6px 10px 6px rgba(80, 116, 235, 0.4);
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  margin-top: 50px;
  grid-gap: 1%;
  margin-bottom: 110px;
}
.products img {
  width: 50px;
  height: 200px;
}
.cartPage {
  display: flex;
  justify-content: space-between;
}
.cartPage > div:nth-child(1) {
  width: 65%;
}
.cartPage > div:nth-child(2) {
  width: 35%;
}
.cartProduct {
  display: flex;
  max-width: 90%;
  margin: 2%;
  margin-left: 6%;
  text-align: left;
  box-shadow: 0px 6px 10px 6px rgba(80, 116, 235, 0.4);
}
.cartProduct > div:nth-child(1) {
  flex-basis: 20%;
}
.cartProduct > div:nth-child(2) {
  flex-basis: 60%;
}
.cartProduct > div:nth-child(3) {
  flex-basis: 20%;
  margin-top: 5%;
  text-align: center;
}

.cartProduct img {
  width: 35px;
  height: 170px;
  margin: 0.5em;
  margin-left: 30%;
}
.cartProduct button {
  margin-top: 1.5em;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  padding-top: 5px;
}
.navbar > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 7%;
}
.navbar img {
  width: 200px;
}
.search {
  position: relative;
  width: 450px;
}
.search Input {
  padding-left: 20px;
}
.output {
  position: absolute;
  width: 450px;
  height: 200px;
  overflow-y: scroll;
  background-color: rgb(250, 250, 250);
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 6px 10px 6px rgba(80, 116, 235, 0.4);
  margin-top: 5px;
}
.output::-webkit-scrollbar {
  display: none;
}
.output p {
  cursor: pointer;
  padding-left: 20px;
}
